@model DAL.ViewModel.TimeSheetMainModel

@if (ViewBag.IsNull)
{
    <div class="text-body mx-3">No Record(s) Found</div>
}
else if (Model.isFinalize == false)
{
    <div class=" my-3 fs-3 fw-bold text-center">Time Sheet Has not finalized.......</div>
    <input class="FinalizeValue"  value="false" hidden/>
}
else
{
    <input class="FinalizeValue"  value="true" hidden/>
    <table class="d-none d-md-table table m-0 mb-3 white-bag" style="margin-bottom: 0 !important;">
        <thead class="table-secondary">
            <tr>
                <th class="ps-3 align-middle">Shift Date</th>
                <th class="ps-3 align-middle">Shift</th>
                <th class="ps-3 align-middle" style="width: 10%;">Nightshift Weekend</th>
                <th class="ps-3 align-middle">Housecall</th>
                <th class="ps-3 align-middle" style="width: 10%;">Housecall Nights Weekend</th>
                <th class="ps-3 align-middle">Phone Consults</th>
                <th class="ps-3 align-middle" style="width: 20%;">Phone Consults Nights Weekend</th>
                <th class="ps-3 align-middle">Batch Testing</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.timeSheetdataMainPage)
            {
                
                <tr>
                    <td scope="col" class="ps-3">@item.shiftDate</td>
                    <td scope="col" class="ps-3">@item.shift</td>
                    <td scope="col" class="ps-3" style="width: 10%;">@item.NightShiftWeekend</td>
                    <td scope="col" class="ps-3">@item.HouseCall</td>
                    <td scope="col" class="ps-3" style="width: 10%;">@item.HouseCallNightWeekend</td>
                    <td scope="col" class="ps-3">@item.PhoneConsultant</td>
                    <td scope="col" class="ps-3" style="width: 10%;">@item.PhoneConsultantNightWeekend</td>
                    <td scope="col" class="ps-3">@item.BatchTesting</td>
                </tr>
            }
        </tbody>
    </table>
}

