@model DAL.ViewModel.TimeSheet
@{
    int startDate = Model.startdate.Day;
    int month = Model.startdate.Month;
    int endDate = Model.enddate.Day;
    int year = Model.startdate.Year;
    var timesheetdata = Model.timesheetdata;
    string takeDate = DateOnly.FromDateTime( new DateTime(year, month, startDate)).ToString();
}
 <form asp-action="SubmitTimeSheet" id="form">
<table class="table mb-0 table-borderless ">
    <thead class="text-body border-4 bg-body-secondary">
        <tr>
            <th class="text-center">Date</th>
            <th class=" text-center">On Call Hours</th>
            <th class=" text-center">Total Hours</th>
            <th class=" text-center">Weekend/Holiday</th>
            <th class=" text-center">Number Of HouseCalls</th>
            <th class="text-center">Number Of Phone Calls</th>
        </tr>
    </thead>
    <tbody class="white-bag">
        @{
            int k = 0;
        }
        @for (int i = startDate; i <= endDate; i++)
        {
            
            <tr>
                    @{
                        string date = new DateTime(year, month, i).Date.ToString("dd/MM/yyyy");
                    }
                    <input asp-for="@Model.timesheetdata[k].date"  hidden/>
                <td class="align-middle text-center">@date</td>
                <td class="align-middle text-center">@(timesheetdata[k] == null ? 0 : timesheetdata[k].onCallhours)</td>
                <td class="align-middle text-center"><input asp-for="@Model.timesheetdata[k].totalHours" type="number" class="form-control" min="0" max="24" value="@(timesheetdata[k] == null ? 0 : @timesheetdata[k].totalHours)"></td>
                <td class="align-middle text-center d-flex justify-content-center py-3">
                        <input type="checkbox" asp-for="@Model.timesheetdata[k].isWeekend" class="form-check-input" checked="@(timesheetdata[k] == null ? false : timesheetdata[k].isWeekend)" />
                </td>
                <td class="align-middle text-center"><input type="number" asp-for="@Model.timesheetdata[k].HouseCallNo" class="form-control" value="@(timesheetdata[k] == null ? 0 : timesheetdata[k].HouseCallNo)"></td>
                <td class="align-middle text-center"><input type="number" asp-for="@Model.timesheetdata[k].PhoneCallNo" class="form-control" value="@(timesheetdata[k] == null ? 0 :timesheetdata[k].PhoneCallNo)"></td>
            </tr>
            k++;
          

        }
    </tbody>
</table>

<div class="d-flex white-bag justify-content-end">
    <button  class="btn btn-info" onclick="FormSubmit()">submit</button>
</div>
 </form>


<div class="d-flex justify-content-between mt-2">
    <button class="btn btn-info" onclick="openRecieptForm()">Add Receipts</button>
    <a class="btn btn-info float-end" asp-action="FinalizeForm" asp-route-id="@Model.timesheetdata[0].timeSheetId">Finalize</a>
</div>


 <script>

     function FormSubmit() {
        document.getElementById("form").submit();
     }

    function openRecieptForm() {
        
        var date = $("#selectedDate").val();

        if (date != 0) {
            $.ajax({
                type: 'GET',
                url: "/ProviderDashBoard/GetRecieptForm",
                data: {  date: date },
                success: function (response) {


                    $("#addReciept").html(response);
                },
                error: function (data) {
                    alert(data.d);
                }
            });
        } else {
            alert("please select date");
        }
    }
 </script>       