@model List<DAL.ViewModel.Admin_DashBoard>

@{
    ViewData["Title"] = "Admin_Dash";
    Layout = "~/Views/Shared/_Admin_Dash.cshtml";
}


    <div class="container-fluid" style="margin-top:3rem">

        @* -------------------------------gutters--------------------------------------------- *@
        <div class="row gx-5 mt-4 ms-3 me-3" >
            <div class="col">
                <div class="px-3 py-2 text-white border  rounded" style="background-color:#203f9a">
                <a id="New">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <h4>new</h4>
                    </div>
                    <h3>1345</h3>
                </a>
                </div>
            </div> 
            <div class="col">
            <div class="px-3 py-2 border text-info rounded" style="background-color:#e5f2f8">
                  <a id="Pending">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill me-2" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                        <h4>Pending</h4>
                    </div>
                    <h3>1345</h3>
                  </a>
                </div>
            </div> 
            <div class="col">
            <div class="px-3 py-2 border  rounded" style="background-color:#e9f0e8">
                <a id="Active">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <h4>Active</h4>
                    </div>
                    <h3>1345</h3>
                </a>
                </div>
            </div> 
            <div class="col">
            <div class="px-3 py-2 border  rounded text-pink" style="background-color:#f7e6ee">
                   <a id="Conclude">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <h4>conclude</h4>
                    </div>
                    <h3>1345</h3>
                   </a>
                </div>
            </div>  
            <div class="col">
            <div class="px-3 py-2 border  rounded" style="background-color:#e5eef5">
                <a id="ToClose">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <h4>To close</h4>
                    </div>
                    <h3>1345</h3>
                </a>
                </div>
            </div>  
            <div class="col">
            <div class="px-3 py-2 border  rounded" style="background-color:#efeef4">
                <a id="UnPaid">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill me-2" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                        </svg>
                        <h4>Unpaid</h4>
                    </div>
                    <h3>1345</h3>
                </a>
                </div>
            </div>
        </div>
        @* -------------------------------gutters--------------------------------------------- *@
        @* -------------------------------buttons--------------------------------------------- *@
<div class="mt-3 mt-md-5 d-flex-column d-sm-flex justify-content-between align-items-center">
    <div class="ms-4">
        <p class="fs-2 ps-2">Patients<span class="text-primary">(new)</span></p>
    </div>
    <div class="me-4" >
        <button type="button" class="btn btn-info text-white me-2">
            <i class="bi bi-send  me-md-2 "></i><span class="d-none d-lg-inline">Send Link</span>
        </button>
            <button type="button" class="btn btn-info  text-white me-2">
            <i class="bi bi-pencil-square me-md-2"></i><span class="d-none d-lg-inline">
                Create
                Requests
            </span>
        </button>
            <button type="button" class="btn btn-info  text-white me-2">
            <i class="bi bi-arrow-up-right "></i>
            <span class="d-none d-lg-inline ">Export</span>
        </button>
            <button type="button" class="btn btn-info  text-white me-2">
            <i class="bi bi-box-arrow-up-right "></i><span class="d-none d-lg-inline">
                Export
                All
            </span>
        </button>
            <button type="button" class="btn btn-info  text-white me-2">
            <i class="bi bi-person-plus  me-md-2"></i><span class="d-none d-lg-inline">
                Request DTY
                Support
            </span>
        </button>
    </div>
</div>

        @* -------------------------------buttons--------------------------------------------- *@
      </div>

        @* -------------------------------Search--------------------------------------------- *@
       <div class="container-fluid">
    <div class="row d-flex border rounded" style="">
        <div class="d-flex col-6 ">
            <div class="input-group bg-white mt-2 mb-2 d-flex align-items-center ms-2 " style="width:17rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                    <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                    </path>
                </svg>
                <input type="text" class="form-control ms-2 " id="Search" placeholder="Search patient">
            </div>
            <div class="d-flex  rounded align-items-center ms-2 ps-2" style="width:17rem" id="Region">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50">
                    <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                    </path>
                </svg>
                <select class="form-select border-0 form-select" aria-label="Default select example" >
                    <option selected >All Regions</option>
                    <option  data-value="1">One</option>
                    <option data-value="2">Two</option>
                    <option  data-value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="d-flex col-6 justify-content-end  my-3">
            <button class="active-filter filter-options d-flex align-items-center  px-3 py-1 rounded btn filter-btn" data-value="">
                <span>All</span>
            </button>

            <button class="filter-options px-2 py-1 rounded d-flex align-items-center ms-2 btn filter-btn" data-value="1">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#5fbc61" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Patient</span>
            </button>

            <button class="filter-options px-2 py-1 rounded d-flex align-items-center ms-2 btn filter-btn" data-value="2">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#ed9124" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Family/Friend</span>
            </button>
            <button class="filter-options px-2 py-1 rounded d-flex align-items-center ms-2 btn filter-btn" data-value="4">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#e26277" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Business</span>
            </button>
            <button class="filter-options px-2 py-1 rounded d-flex align-items-center ms-2 btn filter-btn" data-value="3" >
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#007fc6" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Concierge</span>
            </button>
            <button class="filter-options px-2 py-1 rounded d-flex align-items-center ms-2 btn">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#9966cd" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">VIP</span>
            </button>
        </div>

    </div>
       </div>
       
        @* -------------------------------Search--------------------------------------------- *@

 <div id="PartialViews">


    <partial name="Admin_TableNew" model="@Model"></partial>
    <partial name="Admin_TablePending" model="@Model"></partial>
    <partial name="Admin_TableActive" model="@Model"></partial>
    <partial name="Admin_TableConclude" model="@Model"></partial>
    <partial name="Admin_TableToClose" model="@Model"></partial>
    <partial name="Admin_TableUnPaid" model="@Model"></partial>

 </div>


@section scripts {
    <!-- jQuery script -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            var currentPartialview = "Admin_TableNew"

            LoadPartialView(currentPartialview);
            $('Admin_TablePending').hide();
            $('Admin_TableActive').hide();
            $('Admin_TableConclude').hide(); 
            $('Admin_TableToClose').hide();
            $('Admin_TableUnPaid').hide();


            $("#New").click(function () {
                 currentPartialview = "Admin_TableNew"
                LoadPartialView(currentPartialview);
            });

            $("#Pending").click(function () {
                 currentPartialview = "Admin_TablePending"
                LoadPartialView(currentPartialview);
            });

            $("#Active").click(function () {
                currentPartialview = "Admin_TableActive"
                LoadPartialView(currentPartialview);
            });
            $("#Conclude").click(function () {
                currentPartialview = "Admin_TableConclude"
                LoadPartialView(currentPartialview);
            });

            $("#ToClose").click(function () {
                currentPartialview = "Admin_TableToClose"
                LoadPartialView(currentPartialview);
            });

            $("#UnPaid").click(function () {
                currentPartialview = "Admin_TableUnPaid"
                LoadPartialView(currentPartialview);
            });

            $('.form-select').on("change", function () {
                filtertable(currentPartialview)
            });

             // -------------filter btn-----------------------------
            $('.filter-btn').click(function () {
                $('.filter-btn').removeClass('active')
                $(this).addClass('active')
                filtertable(currentPartialview)

            });
             // -------------filter btn-----------------------------

            // -------on search value--------------------          
            $("#Search").on("input", function () {
                filtertable(currentPartialview);
            });

          
            // -------on search value---------------------


            // --------------LoadPartialView---------------
            function LoadPartialView(partialName) { 

                $.ajax({
                    url: '@Url.Action("AdminDash", "Admin_Dash")',
                    type: 'GET',
                    data: { partialName: partialName }, 
                    success: function (result) {
                        console.log(result)
                        $("#PartialViews").html(result);
                    },

                    error: function (error) {
                        console.error("Error loading partial view" + error);
                    }
                });
            }
            // --------------LoadPartialView---------------

            function filtertable(partialName) {

                var SearchValue = $("#Search").val();
                var Filterselect = $('.filter-btn.active').data('value');
            

                var selectopt = $(".form-select").find(':selected');
                var selectvalue = selectopt.data('value');

                var region = $("#Region").val();


                if (SearchValue == "" && Filterselect == "" ) {
                    LoadPartialView(currentPartialview);
                }

                else {
                    $.ajax({
                        type:"GET",
                        url: '@Url.Action("SearchPatient", "Admin_Dash")',
                        data: { SearchValue: SearchValue, Filterselect: Filterselect, selectvalue: selectvalue
                            , partialName:partialName
                        },
                        success: function (data) 
                        {
                            $('#PartialViews').html(data);
                            console.log(data)
                        },

                        error: function (error) {
                            console.error(" " , error);
                        }
                    });
                }
            }

            

          
        });

    </script>
}