
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminDash.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloDoc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
  
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row border border-bottom shadow">
                <!-- -----------------nav--------------- -->
                <div class="col col-12 d-flex mb-1 flex-row justify-content-between">
                    <div class="doct-logo">
                        <img src="~/images/doct-logo-2.png" alt="" style="height:5rem" />
                    </div>
                    <div class=" float-end ">
                        <span class="fw-bold me-2"> Welcome:@ViewBag.username</span>
                        <a asp-action="" asp-controller="">
                            <button type="submit" class="btn border-info bg-white fw-2 text-info me-2 border border-2"
                                    style="height:3rem">
                                logout
                            </button>
                        </a>
                        <button class="dark-button border border-2 border-info bg-white my-3 mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="35"
                                 height="39"
                                 fill="currentColor"
                                 class="bi bi-moon text-info p-1 m-auto type-bold"
                                 viewBox="0 0 16 16">
                                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                            </svg>
                        </button>
                    </div>
                </div>
                <!-- -----------------nav--------------- -->
            </div>
            <!-- Nav tabs -->

        </div>
        <div class="w-100 shadow  px-2 px-md-5  pt-2  border-5 border-bottom-5 d-none d-sm-block pb-1  ">
            <ul class="nav nav-tabs-info nav-underline   fs-4 " id="pills-tab" role="tablist">
                <li class="nav-item text-info">
                    <a class="nav-link  text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Index" ? "active" : "")">Dashboard</a>
                </li>
                <li class="nav-item " >
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "ProviderLocation" ? "active" : "")">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Profile" ? "active" : "")">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Provider" ? "active" : "")">Provider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Parteners" ? "active" : "")">Parteners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Records" ? "active" : "")">Records</a>
                </li>

            </ul>

        </div>
     
    </header>
    <div class="container-fluid ">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="d-flex flex-row justify-content-end align-items-center bg-dark text-white pe-3 footer position-absolute bottom-0 w-100">
            <span>Terms Of Condition | Privacy Policy</span>
        </div>
    </footer>


    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Patient_request.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


