
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminDash.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloDoc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row border border-bottom shadow">
                <!-- -----------------nav--------------- -->
                <div class="col col-12 d-flex mb-1 flex-row justify-content-between">
                    <div class="doct-logo">
                        <img src="~/images/doct-logo-2.png" alt="" style="height:5rem" />
                    </div>
                    <div class=" float-end ">
                        <span class="fw-bold me-2"> Welcome:@ViewBag.username</span>
                        <a asp-action="Logout" asp-controller="Login">
                            <button type="submit" class="btn border-info bg-white fw-2 text-info me-2 border border-2"
                                    style="height:3rem">
                                logout
                            </button>
                        </a>
                        <button class="dark-button border border-2 border-info bg-white my-3 mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="35"
                                 height="39"
                                 fill="currentColor"
                                 class="bi bi-moon text-info p-1 m-auto type-bold"
                                 viewBox="0 0 16 16">
                                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                            </svg>
                        </button>
                    </div>
                </div>
                <!-- -----------------nav--------------- -->
            </div>
            <!-- Nav tabs -->

        </div>
        <div class="w-100 shadow  px-2 px-md-5  pt-2  border-5 border-bottom-5 d-none d-sm-block pb-1  ">
            <ul class="nav nav-tabs-info nav-underline   fs-4 " id="pills-tab" role="tablist">
                <li class="nav-item text-info">
                    <a class="nav-link  text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Index" ? "active" : "")">Dashboard</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "ProviderLocation" ? "active" : "")">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Profile" ? "active" : "")">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Provider" ? "active" : "")">Provider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Parteners" ? "active" : "")">Parteners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-info @(ViewContext.ActionDescriptor.RouteValues["action"] == "Records" ? "active" : "")">Records</a>
                </li>

            </ul>

        </div>

    </header>
    <div class="container-fluid ">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="d-flex flex-row justify-content-end align-items-center bg-dark text-white pe-3 footer position-absolute bottom-0 w-100">
            <span>Terms Of Condition | Privacy Policy</span>
        </div>
    </footer>



    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Patient_request.js" asp-append-version="true"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>   @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            var currentPartialview = "AdminTableNew"

            var currentstatus = [1];

            $('.triangle').css('display', 'none');
            $('#tranew').css('display', 'block').css('border-top', '20px solid #203f9a').css('color', 'white');


            filtertable(currentPartialview, currentstatus);
            $('AdminTablePending').hide();
            $('AdminTableActive').hide();
            $('AdminTableConclude').hide();
            $('AdminTableToClose').hide();
            $('AdminTableUnPaid').hide();

            // ---------------hover----------------------
            $("#divnew").click(function () {
                $(".status").removeClass("active");
                $("#divnew").addClass("active")
            });

            $("#divpen").click(function () {
                $(".status").removeClass("active");
                $("#divpen").addClass("active")
             
            });
            $("#divact").click(function () {
                $(".status").removeClass("active");
                $("#divact").addClass("active")
            });
            $("#divcon").click(function () {
                $(".status").removeClass("active");
                $("#divcon").addClass("active")
            });
            $("#divclo").click(function () {
                $(".status").removeClass("active");
                $("#divclo").addClass("active")
            });
            $("#divun").click(function () {
                $(".status").removeClass("active");
                $("#divun").addClass("active")
            });


            // -------------hover  end---------------------

            //-------------------on click functionality------------------------------

            $("#New").click(function () {
                currentstatus = [1];
                currentPartialview = "AdminTableNew"
                filtertable(currentPartialview, currentstatus);
                $('#textspan').text('(new)');
                $('.triangle').css('display', 'none');
                $('#tranew').css('display', 'block').css('border-top', '20px solid #203f9a').css('color', 'white');
            });


            $("#Pending").click(function () {
                currentPartialview = "AdminTablePending"
                currentstatus = [2]
                filtertable(currentPartialview, currentstatus);
                $('#textspan').text('(pending)');
                $('.triangle').css('display', 'none');
                $('#trapending').css('display', 'block').css('border-top', '20px solid  #0dcaf0');

            });

            $("#Active").click(function () {
                currentPartialview = "AdminTableActive"
                currentstatus = [4, 5]
                filtertable(currentPartialview, currentstatus);
                $('#textspan').text('(Active)');
                $('.triangle').css('display', 'none');
                $('#traact').css('display', 'block').css('border-top', '20px solid #228c20').css('color', 'white');
            });


            $("#Conclude").click(function () {
                currentPartialview = "AdminTableConclude"
                currentstatus = [6]
                filtertable(currentPartialview, currentstatus);
                $('#textspan').text('(Conclude)');
                $('.triangle').css('display', 'none');
                $('#tracon').css('display', 'block').css('border-top', '20px solid #da0f82').css('color', 'white');
            });

            $("#ToClose").click(function () {
                currentPartialview = "AdminTableToClose"
                currentstatus = [3, 7, 8]
                filtertable(currentPartialview, currentstatus);
                $('#textspan').text('(To Close)');
                $('.triangle').css('display', 'none');
                $('#traclo').css('display', 'block').css('border-top', '20px solid #0370d7').css('color', 'white');
            });

            $("#UnPaid").click(function () {
                currentPartialview = "AdminTableUnPaid"
                currentstatus = [9];
                filtertable(currentPartialview, currentstatus);
                $('#textspan').text('(Unpaid)');
                $('.triangle').css('display', 'none');
                $('#traun').css('display', 'block').css('border-top', '20px solid #9966cd').css('color', 'white');
            });

            //-------------------on click functionality end------------------------------

            $('.form-select').on("change", function () {
                filtertable(currentPartialview, currentstatus)
            });




            // -------------filter btn-----------------------------
            $('.filter-btn').click(function () {
                $('.filter-btn').removeClass('active')
                $(this).addClass('active')
                filtertable(currentPartialview, currentstatus)

            });
            // -------------filter btn end -----------------------------

            // -------on search value--------------------
            $("#Search").on("input", function () {
                filtertable(currentPartialview, currentstatus);
            });
            // -------on search value end---------------------


            // --------------LoadPartialView---------------

            // --------------LoadPartialView end---------------



            function filtertable(partialName, currentstatus) {
                $.get('/AdminDash/CheckSession', function (session) {


                    if (session.sessionExists) {
                        var SearchValue = $("#Search").val();
                        var Filterselect = $('.filter-btn.active').data('value');

                        console.log(Filterselect);
                        var selectopt = $(".form-select").find(':selected');
                        var selectvalue = selectopt.data('value');

                        var region = $("#Region").val();


                        if (SearchValue == "" && Filterselect == " ") {
                            filtertable(currentPartialview, currentstatus);
                        }

                        else {
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("SearchPatient", "AdminDash")',
                                traditional: true,
                                data: {
                                    SearchValue: SearchValue, Filterselect: Filterselect, selectvalue: selectvalue
                                    , partialName: partialName, currentstatus: currentstatus
                                },
                                success: function (data) {
                                    $('#PartialViews').html(data);
                                    console.log(data)
                                },

                                error: function (error) {
                                    console.error(" ", error);
                                }
                            });
                        }
                    }

                    else {
                        window.location.href = '/Login/Patient_login';
                    }
                });

            }

            // -------------------------------------------------------------

            // -------------------------------------------------------------
           
            // -------------------------------------------------------------
            $('#ModalFormsubmit').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: '/AdminDash/CancelCase',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $('#modalForm').modal('hide');
                        window.location.href = "/AdminDash/AdminDash";
                    },
                    error: function (xhr, status, error) {

                        console.error('Error submitting form:', error);
                    }
                });
            });
            $('#modalForm').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });

            // -------------------------------------------------------------

            // -------------------------------------------------------------

            $('#AssignCaseModalsubmit').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: '/AdminDash/AssignCase',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $('#AssignCaseModalsubmit').modal('hide');
                        window.location.href = "/AdminDash/AdminDash";
                    },
                    error: function (xhr, status, error) {

                        console.error('Error submitting form:', error);
                    }
                });
            });
            $('#AssignCaseModal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });
            // -------------------------------------------------------------
            $('#TransferModalSubmit').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: '/AdminDash/TransferCase',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $('#TransferModalSubmit').modal('hide');
                        window.location.href = "/AdminDash/AdminDash";
                    },
                    error: function (xhr, status, error) {

                        console.error('Error submitting form:', error);
                    }
                });
            });
            $('#TransferModal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });

            // -------------------
            $('#regiondropdownoftra').change(function () {


                var regionid = $(this).val();

                if (regionid != 0) {
                    $.ajax({
                        type: "GET",
                        url: "/AdminDash/GetPhysicianForTransfer", // Controller action to fetch models based on brand ID
                        data: { regionid: regionid },
                        success: function (response) {
                            // Clear existing options
                            $('#physiciandropdownoftra').empty();
                            console.log(response.FirstName)
                            $.each(response, function (index, item) {
                                $('#physiciandropdownoftra').append($('<option>').text(item.firstName).attr('value', item.physicianId));
                            });

                        }
                    });
                }
            });
            // -------------------------------------------------------------

            $('#ProfessionNameDropDown').change(function () {
                var professionId = $(this).val();

                if (professionId != 0) {
                    $.ajax({
                        type: "GET",
                        url: "/AdminDash/GetBusinessName", // Controller action to fetch models based on brand ID
                        data: { professionId: professionId },
                        success: function (response) {
                            // Clear existing options
                            $('#BusinessDropDown').empty();
                            $('#BusinessDropDown').append($('<option>').text("Select BusinessMan").attr('value', 0));
                            console.log("kpodkcosdk");
                            $.each(response, function (index, item) {

                                $('#BusinessDropDown').append($('<option>').text(item.vendorName).attr('value', item.vendorId));
                            });

                        }
                    });
                }
                else {
                    $('#BusinessDropDown').empty();
                    $('#BusinessDropDown').append($('<option>').text("Select BusinessMan").attr('value', 0));
                    $('#Contact').val("");
                    $('#Email').val("");
                    $('#Fax').val("");
                }
            });

            $('#BusinessDropDown').change(function () {
                var vendorId = $(this).val();

                if (vendorId != 0) {
                    $.ajax({
                        type: "GET",
                        url: "/AdminDash/GetBusinessData", // Controller action to fetch models based on brand ID
                        data: { vendorId: vendorId },
                        success: function (response) {
                            console.log(response);
                            console.log(response.faxNumber);
                            $('#Contact').val(response.phoneNumber);
                            $('#Email').val(response.email);
                            $('#Fax').val(response.faxNumber);

                        }
                    });

                }
                else {
                    console.log("gbdjsd")
                    $('#Contact').val("");
                    $('#Email').val("");
                    $('#Fax').val("");
                }
            });

            // -------------------------------------------------------------
            // -------------------------------------------------------------

            // -------------------------------------------------------------

            // ------------------
            $('#regiondropdown').change(function () {


                var regionid = $(this).val();

                if (regionid != 0) {
                    $.ajax({
                        type: "GET",
                        url: "/AdminDash/GetPhysician", // Controller action to fetch models based on brand ID
                        data: { regionid: regionid },
                        success: function (response) {
                            // Clear existing options
                            $('#physiciandropdown').empty();
                            console.log(response.FirstName)
                            $.each(response, function (index, item) {
                                $('#physiciandropdown').append($('<option>').text(item.firstName).attr('value', item.physicianId));
                            });

                        }
                    });
                }
            });

            // -------------------------------------------------------------
            $('#BlockCaseModalsubmit').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: '/AdminDash/BlockCase',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $('#BlockCaseModalsubmit').modal('hide');
                        window.location.href = "/AdminDash/AdminDash";
                    },
                    error: function (xhr, status, error) {

                        console.error('Error submitting form:', error);
                    }
                });
            });
            $('#BlockCaseModal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });
            // ------------------------------------------------------------- 
            
            
             // -------------------------------------------------------------
            $('#ClearCaseModalSubmit').submit(function (event) {
                event.preventDefault();

                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    url: '/AdminDash/ClearCase',
                    type: 'POST',
                    data: formData,
                    success: function (response) {

                        $('#ClearCaseModalSubmit').modal('hide');
                        window.location.href = "/AdminDash/AdminDash";
                    },
                    error: function (xhr, status, error) {

                        console.error('Error submitting form:', error);
                    }
                });
            });
            $('#ClearCaseModal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });
            // -------------------------------------------------------------
        });

    </script>

</body>
</html>


